body {
    background-color: #c1dde8;
}

div.titulo {
    text-align: center;
    color: blue;
    
}

div h2:first-letter{
    font-size: 70px;
    color: black;
}

p.nav {
    color: blue;
    text-align: center;
}

span.nav1:hover {
    background-color: yellow;
    color: red;
}

span.nav2:hover {
    background-color: yellow;
    color: red;
}

span.nav3:hover {
    background-color: yellow;
    color: red;
}

div p::first-line {
    color: red;
}

a.a1:link {
    background-color: white;
}

a.a1:visited {
    background-color: blue;
    color: white;
}

a.a2:link {
    background-color: white;
}

a.a2:visited {
    background-color: blue;
    color: white;
}

a.a3:link {
    background-color: white;
}

a.a3:visited {
    background-color: blue;
    color: white;
}

h4 {
    counter-reset: cuenta-ciclos;
}

p.ciclos::before {
    content: counter(cuenta-ciclos) ". ";
    counter-increment: cuenta-ciclos;
}

p.cursiva {
    font-style: italic;
}

img {
    float: right;
}